################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UsuarioAPI/.vs/UsuarioAPI/v15
.VS/